html,
body {
    width: 100%;
    height: 100%;
    background-color: #1C2541;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

/**HEADER*/
header,
nav {
    width: 100%;
    height: 50px;
    background-color: #0B132B;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px;
}

nav>a>img {
    height: 50px;
    width: 120px;
    padding-left: 7px;
}

nav>li>svg {
    width: 40px;
    height: 40px;
    padding-bottom: 20px;
}

nav>label {
    margin-left: 20px;
}



/* style text into menu */

#primary-menu-list a {
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
}


#primary-menu-list a:hover {

    text-shadow: 2px 4px 0px black;
}

#primary-menu-list a.join {

    color: #2DFDB9;
}

nav>ul>li:last-child {
    padding-top: 40px;
}

nav>ul>li {
    padding-bottom: 20px;
}


/**************** HOMEPAGE SMARTPHONE *****************/

#primary-menu-list {
    display: none;
}

/* main menu hamburger */

#menu-hamburger-toggler {
    display: none;
}

#menu-hamburger:hover {
    cursor: pointer;

}

.stick {
    width: 30px;
    height: 5px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #2DFDB9;
    transition: all 100ms ease-in-out;
}

.stick:nth-child(3) {
    margin-bottom: 0;
}

/* after click hamburger transform into a cross */

#menu-hamburger-toggler:checked~header nav #menu-hamburger .stick:nth-child(1) {
    display: none;
}

#menu-hamburger-toggler:checked~header nav #menu-hamburger .stick:nth-child(2) {
    transform: rotate(-45deg);
    margin-bottom: 12px;
}

#menu-hamburger-toggler:checked~header nav #menu-hamburger .stick:nth-child(3) {
    transform: rotate(45deg);
    margin-top: -18px;
}

/* animation open primary menu */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* show primary menu after click hamburger */

#menu-hamburger-toggler:checked~header nav #primary-menu-list {
    position: absolute;
    top: 50px;
    width: 100%;
    display: block;
    margin: inherit;
    text-align: center;
    list-style-type: none;
    padding: 0;
    height: 100vh;
    background-color: #0B132B;
    animation: fadeIn 700ms;
}

#menu-hamburger-toggler:checked~main {
    display: none;
}
#menu-hamburger-toggler:checked ~ main,  #menu-hamburger-toggler:checked ~ footer{
    display: none;
}


/**FOOTER*/
.footer-svg {
    width: 50px;
    margin: auto;
}

.footer-svg>svg {
    width: 50px;
    fill: white;
}

footer {
    height: 20vh;
}

.footer {
    position: relative;
    height: 8%;
    background: #0b132b;
}

.footer>svg {

    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 5vw;
    z-index: 0;

}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer-bottom {
    width: 100%;
    text-align: center;
}

.footer-bottom>.sub-menu>a:link, a:visited {
    color: white;
}

.social-footer {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.social-footer>a {
    padding: 20px;
}

.social-footer>a:hover {
    fill: #2DFDB9;
    background-color: #2DFDB9;
}


@media screen and (min-width: 870px) {

    /**MENU*/

    nav{
        flex-direction: row;
    padding: 10px;
    }
    #menu-hamburger {
        display: none;
    }

    nav label {
        display: none;
    }

    #primary-menu-list {
        display: flex;
        list-style-type: none;
        justify-content: right;
        width: 100%;
    }

  

    nav>ul>li:last-child {
        display: none;
    }

    nav>ul>li {
        padding-bottom: 0px;
    }





}