/**
* my-style.css
*
* global style for all pages
*/

html,
body {
    width: 100%;
    height: 100%;
    background-color: #1C2541;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

/**HEADER*/
header,
nav {
    width: 100%;
    height: 50px;
    background-color: #0B132B;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>a>img {
    height: 50px;
    width: 120px;
    padding-left: 7px;
}

nav>li>svg {
    width: 40px;
    height: 40px;
    padding-bottom: 20px;
}

nav>label {
    margin-left: 20px;
}



/* style text into menu */

#primary-menu-list a {
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
}


#primary-menu-list a:hover {

    text-shadow: 2px 4px 0px black;
}

#primary-menu-list a.join {

    color: #2DFDB9;
}

nav>ul>li:last-child {
    padding-top: 40px;
}

nav>ul>li {
    padding-bottom: 20px;
}


/**************** HOMEPAGE SMARTPHONE *****************/

#primary-menu-list {
    display: none;
}

/* main menu hamburger */

#menu-hamburger-toggler {
    display: none;
}

#menu-hamburger:hover {
    cursor: pointer;

}

.stick {
    width: 30px;
    height: 5px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #2DFDB9;
    transition: all 100ms ease-in-out;
}

.stick:nth-child(3) {
    margin-bottom: 0;
}

/* after click hamburger transform into a cross */

#menu-hamburger-toggler:checked~header nav #menu-hamburger .stick:nth-child(1) {
    display: none;
}

#menu-hamburger-toggler:checked~header nav #menu-hamburger .stick:nth-child(2) {
    transform: rotate(-45deg);
    margin-bottom: 12px;
}

#menu-hamburger-toggler:checked~header nav #menu-hamburger .stick:nth-child(3) {
    transform: rotate(45deg);
    margin-top: -18px;
}

/* animation open primary menu */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* show primary menu after click hamburger */

#menu-hamburger-toggler:checked~header nav #primary-menu-list {
    position: absolute;
    top: 50px;
    width: 100%;
    display: block;
    margin: inherit;
    text-align: center;
    list-style-type: none;
    padding: 0;
    height: 100vh;
    background-color: #0B132B;
    animation: fadeIn 700ms;
}

#menu-hamburger-toggler:checked~main {
    display: none;
}

/**MAIN*/
main {
    margin-top: 50px;
}

/** HERO */

.hero {
    background: url(/img/hero.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 1px 4px black;
}

h2{
    padding: 10px 20px;
    text-shadow: 0px 1px 4px black;
    margin: 0;
}

h4{
    font-size: 23px;
    padding: 0;
    margin: 0;
    
}

p{
    margin: 0;
}

.cta{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0 20px 0;
}

.hero>p {
    font-size: 30px;
}

/**sub menu*/
.sub-menu {

    position: sticky;
    top: 50px;
    width: 100%;
    text-align: center;
    background-color: #1C2541;
    font-size: 17px;
    z-index: 1;
}

.sub-menu>hr {
    width: auto;
    color: white;
    border: 1px solid;
}

.sub-menu>a {
    color: white;
    padding: 3px;
}

.sub-menu > a:link, a:visited{
    text-decoration: none;
}

button {
   
    background-color: #2DFDB9;
    border: none;
    color: #0B132B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
    background-color: #1C2541;
    color: #2DFDB9;
    box-shadow: 0px 1px 4px black;;
}

/**NEWS*/

.news {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
}

.news-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    margin-bottom: 20px;
    
}

.news-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.news-card>picture>img {
    width: 100%;
}

.news-container {
    padding: 2px 16px;
    color: black;
    background-color: white;
}

/**TOURNAMNETS*/

#tournament{
    background-color: #0B132B;
}

.tourn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.tourn-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 20px;
    
}

.tourn-card:hover{
    cursor: pointer;
    color: #2DFDB9;
}

.tourn-container p{
    font-size: 10px;
}

/**JOIN*/
#join{
    width: 100%;
    position: relative;
}

.join-container{
    background-image: url('/img/lol.jpeg');
}

.join-container > p{
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 20px;

}

/**ABOUT*/



.about-text{
    color: white;
    padding: 20px;
}

/**Gallery*/

#gallery{
    background: #0b132b;
}
#gallery>img{
    position: absolute;
    width: 100%;
}
.gallery{
    height: 100px;
    background-color: #0B132B;
}

#gallery>video{
    width: 100%;
}

/**FOOTER*/
.footer-svg{
    width: 50px;
    margin: auto;
}

.footer-svg>svg{
    width: 50px;
    fill: white;
}
footer{
    height: 20vh;
}

.footer{
    position: relative;
    height: 8%;
    background: #0b132b;
}

.footer > svg{
    
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 5vw;
    z-index: 0;
      
}

.footer-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer-bottom{
    width: 100%;
    text-align: center;
}

.footer-bottom > .sub-menu > a:link, a:visited{
    color: white;
}

.social-footer{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.social-footer > a{
    padding: 20px;
}
.social-footer > a:hover{
    fill: #2DFDB9;   
    background-color: #2DFDB9;
}






/**DESKTOP*/


@media screen and (min-width: 870px) {

    /**MENU*/
    #menu-hamburger {
        display: none;
    }

    nav label {
        display: none;
    }

    #primary-menu-list {
        display: flex;
        list-style-type: none;
        justify-content: right;
        width: 100%;
    }

    #primary-menu-list li {
        margin: auto 20px;
    }

    nav>ul>li:last-child {
        display: none;
    }

    nav>ul>li {
        padding-bottom: 0px;
    }
    h1 {
        font-size: 60px;
    }

    /**NEWS*/
    .news {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }

    .news-card {

        width: 30%;

    }

    /**TOURNAMENTS*/
    .tourn{
       
        flex-direction: row;
        
    }

}
