.teams-container{
    margin: auto;
    width: 80%;
    padding-top: 60px;
    height: 100vh;
}


.teams-container a{
    cursor: pointer;
}

.teams-container svg{
    
    width: 22%;
    padding: 20px;
    
}