main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 20px 80px 20px;
    padding: 20px;
}

main .tournament {
    height: 500px; 
    width: 1200px;
    margin: 0 auto; 
    box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
    overflow: hidden;
    background-color: #000;
    position: relative;
}

main .tournament-description {
    flex: 0 0 25%;
    padding-right: 30px;
}

main .tournament-description__title {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin: 0;
    color: wheat;
}

main .tournament-description__p {
    font-size: 17px;
}

main .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

main .container__div {
    flex: 0 0 33.3333333%;
    position: relative;
}

main .responsive-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main .container-info {
    background-color: rgba(0,0,0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;

    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    transition: all 0.4s;
}

main a:link,
main a:visited {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 1.8px;
    margin: 0;
    text-decoration: none;

    transition: all 0.4s;
}

main .container__div:hover .container-info {
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
}

@media only screen and (max-width: 1200px) {
    main {
        flex-wrap: wrap;
    }

    main .tournament-description {
        flex: 0 0 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 991px) {
    main .tournament-description  {
        margin-bottom: 30px;
    }

    main .container  {
        height: 900px;
        flex-wrap: wrap;
    }

    main .container__div {
        flex: 0 0 100%;
        height: 33.33333%;
    }

    main .responsive-img img {
        height: 100%;
    }

    main .container__div:nth-of-type(2) img {
        object-position: 50% 70%;
    }

    main .container-info {
        height: 20%
    }
}

@media only screen and (max-width: 767px) {
    main .container__div:nth-of-type(1) img {
        object-position: 50% 75%;
    }

    main .container__div:nth-of-type(3) img {
        object-position: 50% 60%;
    }    

    main .container-info__title {
        font-size: 25px;
    }    
}